.textOne{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    background:url('../images/img.jpg') no-repeat;
    background-size:cover ;
    background-position:center ;
    width: 100%;
    margin: 0 auto 0.1%;
    padding-top: 10%;
}

.conText{
    width: 25%;
    padding: 5px;
    margin: 10% 10% 10% 10%;

}

.conText h1{
    font-weight: 700;
    font-size: 3em;
    line-height: 55px;
    letter-spacing: -3px;
}

.conText p{
    padding: 5px;
    margin: 2% auto 0 ;
}

.conText button{
    font-weight: bold;
    margin: 5% 2% 0 0;
    padding: 13px 5px;
    width: 30%;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.conText button:hover{
    background: #09b28e;
    color: white;
}

.textTwo{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    margin: 0 auto 0;
    padding: 1%;
    background: white;
}

.textTwo h6{
    color: #09b28e;
    font-size: 1em;
}

.conTextTwo{
    width: 40%;
    padding: 15px;
    margin: 4%;
    border: 1px solid black;
}

